# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
/iserver/Debug/Demo.ilk
/iserver/Debug/Demo.pdb
/iserver/Debug/iServer.exp
/iserver/Debug/iServer.ilk
/iserver/Debug/iServer.pdb
/iserver/Demo/Debug
/iserver/Demo/Demo.vcproj.HIK.zhangyunjun.user
/iserver/iServer/iServer.vcproj.HIK.zhangyunjun.user
/iserver/iServer/Debug
/iserver/message/message.vcproj.HIK.zhangyunjun.user
